.carrinho{
    font-size: 20px;
    margin: 20px;
}

.produto{
    border: 1px solid #ccc; /* usada tanto pra tirar borda quanto pra colocar uma */
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 200px;
}